.slideswap-slides {
  position: relative;
  transition: height 0.5s ease-in-out;
  touch-action: pan-x pan-y;
}

.slideswap-slide {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.slideswap-slide:first-child {
  opacity: 1;
  position: relative;
  pointer-events: all;
}

.slideswap-has-swipe {
  cursor: grab;
  cursor: -webkit-grab;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.slideswap-has-swipe * {
  cursor: grab;
  cursor: -webkit-grab;
}

.slideswap-has-swipe.slideswap-swipe-active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.slideswap-has-swipe.slideswap-swipe-active * {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.slideswap-has-swipe .slideswap-slide {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.slideswap-has-swipe .slideswap-slide img,
.slideswap-has-swipe .slideswap-slide svg {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
